        * {
            background-color: #000000;
            color: white
        }

        html {
            background-color: #000000;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #000000;
            display: flex;
            flex-direction: row;
            justify-content: center;
            overflow-y: hidden
        }

        .content {
            width: 100%;
            display: flex;

        }

        .menu {
            padding: 20px;
            border-radius: 10px;
            width: 16%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .navigation {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 86%;
            height: 83vh;
            padding: 20px;
            gap: 20px;
            background-color: #232323;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .nav {
            background-color: #00000000;
            border: none;
            cursor: pointer;
            text-decoration: none;
        }

        .left {
            padding: 20px;
            border-radius: 10px;
            width: 100%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            width: 49%;
            height: 87.8vh
        }

        /* .navigation, */
        .lyrics,
        .results {
            height: 60vh;
        }

        .right {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 10px;
            width: 33%;
        }

        .container {
            display: flex;
            flex-direction: column;
            /* width: 100vh; */
            padding: 20px;
            background-color: #232323;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .icon {
            display: block;
            background-color: #00000000;
            color: white;
            text-align: center;
            align-items: center;
            font-size: 81px;
            color: #ffffff52;
        }

        .lyrics {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70vh;
            height: 37vw;
            padding: 20px;
            background-color: #232323;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            justify-content: center;
            /* overflow-y: scroll; */
            overflow-y: none;
        }

        .lyrics-content {
            display: none;
            background: #0000ff00;
            height: 60vh;
            padding: 20px;
        }

        .search-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #232323;
            gap: 5px;
        }

        .search-input {
            width: 70%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .select-container {
            width: 20%;
            margin-bottom: 10px;
        }

        .select-input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
        }

        .text-area_div {
            text-align: center;
            background: #00000000;
            align-items: center;
            padding: 0 6px 0 6px;
        }

        .text-area {
            display: none;
            width: 100%;
            resize: vertical;
            padding: 10px 0 10px 1px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .search-button {
            background-color: #1db954;
            border: none;
            border-radius: 6px;
            color: #ffffff;
            cursor: pointer;
            height: 38px;
            width: 10%;
            margin-top: -9px;
        }

        .search-button:hover {
            background-color: #006b00;
        }

        i {
            background-color: #00000000
        }


        .results {
            display: flex;
            flex-direction: column;

            gap: 10px;
            margin-top: 40px;
            padding: 20px;
            background-color: #080808;
            border-radius: 10px;

            flex: 1;
            max-width: none;
            overflow-y: scroll;


        }

        .item {
            max-width: 100vh;
            padding: 10px;
            background-color: #232323;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;

        }

        .item:hover {
            background: #006b00;
        }

        .lista_div {
            display: flex;
            flex-direction: row;
            gap: 1px;
            align-items: center;
            background-color: #23232300;
        }


        .item_content {
            display: flex;
            flex-direction: column;
            background-color: #23232300;

        }


        .loading {
            display: none;
            width: 50px;
            height: 50px;
            border: 5px solid #ccc;
            border-top: 5px solid #337ab7;
            background: #0000;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @media (max-width: 600px) {
            body {
                flex-direction: column;
            }
        }

        .lyricsText {
            font-size: 3.8vh;
            background: #00000000;
            white-space: pre-line;
            font-family: Arial, sans-serif;
            color: rgb(255, 255, 255);
            line-height: 1.6;
        }

        .cover_icon {
            height: 20vh;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            background-color: #23232300;
        }

        li {
            background-color: #00000000;
        }

        .nome {
            font-size: 2vh;
        }

        .artista,
        .album,
        .duracao {
            font-size: 1.8vh;
            color: #1db954;
        }

        .lancamento,
        .link,
        .explicit {
            font-size: 1.8vh;
            color: #ffffff;
        }

        .trackList {
            display: none;
            flex-direction: column;
            align-items: center;
            width: 70vh;
            height: 37vw;
            padding: 20px;
            background-color: #0f0f0f;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            justify-content: center;
        }

        .cover_album {
            height: 20vh;
            width: 20vh;
            box-shadow: 0px 1px 14px 8px rgb(0 0 0 / 25%);
        }

        .album-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            background: #00000000;
            margin-bottom: 20px;
            gap: 25px;
            
        }
        

        .album-header-content,
        #title-album,
        #album-artist {
            background: #00000000;
        }

        #title-album {
            font-size: 3.3vh;
        }

        #album-artist {
            font-size: 3vh;
        }

        .list-content {
            display: flex;
            padding: 20px;
            background: #00000042;
            gap: 15px;
            flex-direction: column;
            height: 60vh;
            overflow-y: scroll;
            border-radius: 10px;
            width: 90%
        }

        .album-item {
            max-width: 100vh;
            padding: 10px;
            background-color: #2323237d;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

        }

        .track,
        .time {
            background: #0000
        }


        @media screen and (max-width: 600px) {
            .container {
                display: flex;
                flex-direction: column;
                width: 80vw;
                flex-shrink: 0;
                /* impede de encolher */
                /* Alterado de vh para vw, geralmente usado para largura */
                margin: 1px;
                padding: 20px;
                background-color: #232323;
                /* Adicionado o # do código hexadecimal */
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .results {
                overflow-y: none;
                /* height: 35%; */
            }

            .right {
                display: none;
            }

            .cover_icon {
                height: 30vw;
            }

            .nome {
                font-size: 3vw;
            }

            .artista,
            .album,
            .duracao,
            .lancamento,
            .link,
            .explicit {
                font-size: 2.4vw;
            }

            .menu {
                display: none
            }
        }

        /* 2. O trilho (fundo onde a barra desliza) */
        .lyrics::-webkit-scrollbar-track,
        .list-content::-webkit-scrollbar-track,
        .results::-webkit-scrollbar-track {
            background: #454545;
            border-radius: 8px;
        }

        /* 3. O polegar (a barra que se move) */
        .lyrics::-webkit-scrollbar-thumb,
        .list-content::-webkit-scrollbar-thumb,
        .results::-webkit-scrollbar-thumb {
            background: #1db954;
            border-radius: 8px;
        }

        .lyrics::-webkit-scrollbar,
        .list-content::-webkit-scrollbar,
        .results::-webkit-scrollbar {
            width: 12px;
            /* Largura para scroll vertical */
            height: 12px;
            /* Altura para scroll horizontal */
        }